.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Board {
  display: block;
  margin: 50px;
}

.CellLine {
  display: flex;
}

.VillageLineBottom {
  margin-top: 50px;
}

.Village {
  border-radius: 10px;
  height: 30px;
  width: 30px;
  z-index: 2;
}

.DownCellLine {
  margin-top: -15px;
}

.RoundCell {
  border-radius: 750px;
  border: 2px solid #73AD21;
  width: 130px;
  height: 130px;
}

.RoadLine {
  height: 0px;
  display: flex;
}

.Road {
  z-index: 1;
  height: 43px;
  width: 10px;
}

.RoadTopLeft {
  -ms-transform: skewX(-50deg);
  -webkit-transform: skewX(-50deg);
  transform: skewX(-50deg);
}

.RoadTopRight {
  -ms-transform: skewX(50deg);
  -webkit-transform: skewX(50deg);
  transform: skewX(50deg);
}

.wool {
  background-color: whitesmoke;
}

.lumber {
  background-color: #00C000;
}

.ore {
  background-color: #B0B0B0;
}

.brick {
  background-color: orangered;
}

.grain {
  background-color: wheat;
}

.desert {
  background-color: grey;
}
